<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <h1>{{title }}</h1>

    <div>{{name}}</div>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Andrew Mead. It uses data from mapbox.com and darksky.net!</p>
        <img src="/image/walid.jpg" />

    </div>



    {{>footer}}


</body>

</html>