<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <h1>{{title }}</h1>

    <div>{{name}}</div>
    <div class="main-content">

        {{>header}}
        <br>
        <p>you can use this app to get your weather forecast</p>
    </div>


    {{>footer}}



</body>

</html>