<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <h1>{{title }}</h1>

    <div>{{name}}</div>
    <div class="main">
        {{>header}}
    </div>


    {{>footer}}


</body>

</html>